body {
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    background: #F0F0F0;
}

#left, #right {
    width: 25%;
    max-width: 25%;
}

#left {
    float: left;
}

#right {
    float: right;
}

#center {
    width: 50%;
    max-width: 50%;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #D1CAB8;
    background: #EBE4D5;
}

pre {
    padding: 10px;
    margin: 0;
    white-space: pre;
}

.annotation {
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
    cursor: pointer;
}

#sels {
    margin-top: 10px;
}

.annotation .date {
    color: #777;
    text-align: right;
    font-size: 12px;
}

.selection {
    padding: 3px;
    border: 1px solid #FAE0A5;
    background: #FAFAA5;
    margin-bottom: 3px;
    border-radius: 3px;
    clear: both;
    position: relative;
    min-height: 20px;
}

.selection .content {
    padding: 3px;
    margin: 0;
    padding-right: 28px;
}

.close_selection {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    padding: 0;
    margin: 0;
}

.big_div {
    border: 1px solid #D4D4D4;
    font-size: 14px;
    background: #FAF5E8;
    box-shadow: 0 0 10px rgb(207, 207, 207);
}

#explainations {
    margin-bottom: 10px;
}

p {
    padding: 10px;
}
.padding {
    padding: 10px;
}

#panel #selections {
    padding: 10px;
}

#file_panel {
    font-family: monospace, sans-serif;
    font-size: 0px;
    width: 50%;
    max-width: 50%;
}

#file {
    line-height: 1.3em;
    border-collapse: collapse;
    overflow-x: auto;
    font-size: 14px;
    width: 50%;
    max-width: 50%;
}

#file #nums {
    padding: 0;
    text-align: right;
    background: #EBE4D5;
    border-right: 1px solid #D1CAB8;
}

#file #code {
    background: #FAF5E8;
    position: relative;
}

#file #code .cur_sel {
    background: #FAE0A5;
    border: none;
    padding: 2px 0 0.5px 0;
}

#file #code .sel {
    background: #FAFAA5;
    border: 1px dashed orange;
}

p {
    padding-bottom: 5px;
    padding-top: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    height: 80px;
    resize: vertical;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #F5F4F0;
    border: 1px solid #BFBFBF;
    margin-top: 3px;
    margin-bottom: 3px;
}

textarea:focus {
    background-color: #FAFAFA;
    border: 1px solid #BFBFBF;
    outline-style: none;
}

input[type=submit] {
    font-size: 16px;
}

.close_button {
    cursor: pointer;
    width: 14px;
    height: 14px;
    border: none;
    background: url(http://i48.servimg.com/u/f48/13/68/66/29/close_11.png) no-repeat top center;
    overflow: hidden;
}

.close_button:hover {
    background-position: center center;
}

.close_button:active {
    background-position: bottom center;
}

.align_right {
    text-align: right;
}

.no_padding {
    padding: 0;
}

.notification-board {
    font-size: 12px;
}

.notif_type {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    float: left;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
}

.error {
    background-image: url(http://cdn1.iconfinder.com/data/icons/basicset/warning_16.png);
}

.success {
    background-image: url(http://cdn1.iconfinder.com/data/icons/basicset/tick_16.png);
}

.info {
    background-image: url(http://cdn1.iconfinder.com/data/icons/basicset/info_16.png);
}

#no_selection {
    background: #EEE;
    border-radius: 3px;
    border: 1px solid #CCC;
    padding: 3px;
    color: #555;
}

fieldset {
    border: 1px solid #aaa;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

hr {
    color: #fff;
    background: #fff;
}

button, .button, input[type=submit] {
    cursor: pointer;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #c9c9c9;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 10px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

button:hover, .button:hover, input[type=submit]:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

button:active, .button:active, input[type=submit]:active {
    position:relative;
    top:1px;
}

::selection {
    background: #FAE0A5;
}

::-moz-selection {
    background: #FAE0A5;
}

::-webkit-selection {
    background: #FAE0A5;
}
